@use "../../abstracts" as *;

$-tours-background-color: $color-secondary-dark;

.tours {
    background-color: $-tours-background-color;
    height: 30rem;
    position: relative;
}

.tours::before {
    top: 0;
    position: absolute;
    content: "Tame the wild";
    text-transform: uppercase;
    color: $-tours-background-color;
    font-size: 10rem;
    /* text-shadow: 0 0 1px white; */
  
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
}

.tours__heading {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2rem;
}